body, html {
    height: 100%;
    margin: 0;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loading-container {
    text-align: center;
}

.logo {
    max-width: 400px; /* Adjust as needed */
    margin-bottom: 30px;
}

.loading-bar-container {
    width: 300px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    background-color: #555;
    border-radius: 10px;
    margin: 0 auto 20px auto; /* Center the bar and add bottom margin */
    overflow: hidden; /* Ensure the inner bar stays within the rounded corners */
}

.loading-bar {
    width: 0%; /* Initial width */
    height: 100%;
    background-color: #4CAF50; /* Green loading bar */
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.loading-message {
    font-size: 1.2em;
}
